.cart{
    background-color: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart p{
    color: #2A414F;
    font-size: 17px;
}

.cart h6{
    color: #0E161A;
    font-size: 21px;
    margin-top: 0px;
}